.user-menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-menu__item:not(:last-child) {
  margin-right: 35px;
}

.user-menu__link {
  color: black;

  &:hover {
    color: #474747;
  }

  &:active {
    color: rgba($color: #474747, $alpha: 0.5);
  }
}

.user-menu__cart-item-count {
  position: absolute;
  margin-left: 4px;
  text-decoration: none;
  font-size: 10px;
  line-height: 12px;
  color: #F20505;
}
